auto-install-peers=true  # 当设置为 true 时，pnpm 会自动安装 peerDependencies 中声明的依赖项。
strict-peer-dependencies=false # 当设置为 false 时，pnpm 不会强制检查 peerDependencies 的版本兼容性。

# 使用国内镜像源加速下载
registry=https://registry.npmmirror.com
# 或者使用腾讯云镜像: https://mirrors.cloud.tencent.com/npm/

# 其他包管理器的镜像配置
electron-mirror=https://npmmirror.com/mirrors/electron/
node-gyp-mirror=https://npmmirror.com/mirrors/node/
chromedriver-cdnurl=https://npmmirror.com/mirrors/chromedriver/
puppeteer-download-host=https://npmmirror.com/mirrors
